{% load i18n %}
{% load static from staticfiles %}
<!-- Footer Start -->
    <footer id="footer" class="bg_blue p-t-50">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer_box_1">
                      
                        <p class="p-t-30 p-b-30 footer_p">TRIO IT is an IT Solution and Service provider headquartered in Bangalore, India.</p>
                        <div class="social-icons_1">
                            <ul>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer_box_1">
                        <h3>Quick Links</h3>
                        <ul class="footer_link_1">
                            <li><a href="http://trioitservices.in/">Support</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer_box_1">
                        <h3>Special Services</h3>
                        <div class="latest_footer">
                            <h4><a href="http://snap-poll.com/">Snapp-Poll</a></h4>
                            <p>web poll and survey services</p>
                        </div>
                        <div class="latest_footer">
                            <h4><a href="#">Auto Remediation </a></h4>
                            <p>Auto Remediation framework.</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer_box_1">
                        <h3>Get in Touch</h3>
                        <div class="footer_1_contact">
                        	<div class="adres_box">
                            	<p><i class="icon-telephone114"></i> +91 9902057896</p>
                            </div>
                            <div class="adres_box">
                            	<p><i class=" icon-icons142"></i> get-value@trioitservices.in</p>
                            </div>

                            <div class="adres_box">
                                <p><i class="icon-icons74"></i></p>
                                <p>S2 Bailey, Rhenius Street, <br />  Richmond town, Bangalore  <br />  Karnataka INDIA-560025.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer_botom m-t-30 p-t-20 p-b-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p>Copyrights   2017,TrioIT Services. All rights reserved.</p>
                    </div>
                    <div class="col-md-5 text-right">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->