{% extends "autotriage/base.html" %}
{% load static from staticfiles %}
{% block app_title %}Contact Details{% endblock %}

{% block app_body %}

<div class="row">
{% if contact %}
        <div class="col-md-12 col-lg-12">
        <div class="panel panel-default panel-profile-details">
            <div class="panel-body">
                <div class="col-sm-5 text-center">
                    <img alt="image" class="img-circle img-profile" src="{% static 'autotriage/images/default_company.png' %}">
                </div>
                <div class="col-sm-7 profile-details">
                    <h3>{{contact.name}}</h3>
                    <p>
                        <a href="javascript:{{contact.email}};" class="text-gray text-no-decoration">
                            <i class="fa fa-fw fa-envelope"></i>
                            Send Email
                        </a>
                    </p>
                    <p>
                        <a href="javascript:{{contact.phone}};" class="text-gray text-no-decoration">
                            <i class="fa fa-fw fa-phone"></i>
                            Call {{contact.name}}
                        </a>
                    </p>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-5">
                    <dl>
                        <dt>Email</dt>
                        <dd>{{contact.email}}</dd>
                    </dl>
                </div>
                <div class="col-sm-7">
                    <dl class="margin-sm-bottom">
                        <dt>Address</dt>
                        <dd>{{contact.address}}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <a href="/contact/{{contact.id}}/edit" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-sm-3">
                    <a href="/contact/{{contact.branch_id}}/delete/{{contact.id}}/" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
{% else %}
    <div>No Contact Details are present</div>
{% endif %}
</div>

{% endblock %}
