{% extends "autotriage/base.html" %}
{% load static from staticfiles %}
{% block app_title %}Servers{% endblock %}

{% block app_body %}

    <div class="row">
    
    {% if servers %}
    <a href="/server_add/{{branch_id}}/add" class="btn btn-primary">Add New Server</a>
        {% for server in servers%}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default panel-member">
                    <div class="panel-body">
                        <a href="/server/{{branch_id}}/detail/{{server.id}}/">
                            <div class="text-center">
                                <h4 class="thin">
                                    {{server.server_name}}
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>No servers are listed</div>
          <a href="/server_add/{{branch_id}}/add" class="btn btn-primary">Add New Server</a>
    {% endif %}
    </div>

{% endblock %}